@font-face {
  src: url(font/Roboto-Black.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(font/Roboto-Bold.ttf);
  font-family: Roboto-Bold;
}

html{
  overflow-x: hidden;
}

*{
  font-family: 'Roboto';
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  color: black;
  overflow: hidden;
  margin: 0;
  position: relative;
  transition: 0.3s;
}
header {
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  width: 115px;
  height: 100px;
  padding-left: 16px;
  margin-top: -10px;
}

.navig{
  padding-top: 30px;
  float:right;
}

.navig_text{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #777;
  padding: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.navig_text:hover{
  color:black;
}

#sign_in{
  padding-right: 16px;
}

.fa-angle-down{
  padding-left: 10px;
}

.fa-sign-in-alt{
  padding-left: 10px;

}
.fa-sign-in-alt:hover{
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1.05);
  }
}

.social{
  text-align: center;
  height: 60px;
}

.btn{
  display:inline-block;
  width: 40px;
  height: 40px;
  background-color: #262626;
  margin: 8px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px black;
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i{
  line-height: 42px;
  font-size: 22px;
  transition: 0.3s linear;
}

.btn:hover{
  transform: scale(1.2);
}

.btn:hover .fa-facebook{
  color: #4267B2;
}

.btn:hover .fa-twitter{
  color: #1DA1F2;
}

.btn:hover .fa-google{
  color: #DB4437;
}

.btn:hover .fa-instagram{
  color: #E1306C;
}

.btn:hover .fa-telegram{
  color: #0088cc;
}

.footer_back{
  width: 100%;
  height: 60px;
  bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1F1F1F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  color: black;
}

.back_panel_down{
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: -1;
  background-color: #1f1f1f;
}

.join_form h1{
  margin: 0;
  margin-bottom: 25px;
}

.btn_login_x{
  background-color: #c7c7c7;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-weight: 600px;
  transition: 0.5s;
}

.btn_login_x:hover{
  background-color: #1F1F1F;
  color: white;
}

hr{
  margin-top: 20px;
  width: 80%;
  border: 1px solid #c7c7c7;
}

.or{
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  width: 30px;
  margin: -19px auto 10px;
}

.img_sign{
  width: 70px;
  margin-top: -60px;
}

.radio_sex{
  transform: scale(1.5);
}

.radio_sex_text{
  font-size: 20px;
}

#emaaail{
  margin-bottom: 10px;
}

.forgot_pass{
  font-size: 14px;
  text-decoration: none;
}

#btn_theme{
  margin-left: auto;
  top: 0;
  right: 0;
  position: absolute;

  width: 45px;
  height: 45px;
  border-radius: 100px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600px;
  transition: 0.5s;
}

.btn_theme_light{
  color: white;
  background-color: #262626;
}

.btn_theme_dark{
  color: #1f1f1f;
  background-color: white;
}

.btn_theme_light:hover{
  color: #262626;
  background-color: white;
}

.btn_theme_dark:hover{
  color: white;
  background-color: #262626;
}

.input_box{
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #999;
  outline: none;
}

.select_city{
  font-size: 14px;
  margin: 10px;
  width: 125px;
  text-align: center;

  padding: 10px;
  border-radius: 20px;
  border: 1px solid #999;
  outline: none;

}

.table_dost{
  width: 100%;
  height: 380px;
  float: left;
}

.block_graph{
  width: 100%;
  height: 500px;
  float: left;
}

.block_graph > h1{
  margin-top: 24px;
  margin-bottom: 0px;
}

.block_call_back{
  width: 100%;
  height: 465px;
  float: left;
}

.post_blocks{
  width: 80%;
  height: 82%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.post_ukr{
  display: inline-block;
  width: 31.33%;
  height: 100%;
  background-color: #E8E8E8;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
}

.post_nova{
  display: inline-block;
  width: 31.33%;
  height: 100%;
  background-color: #E8E8E8;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
}

.post_meest{
  display: inline-block;
  width: 31.33%;
  height: 100%;
  background-color: #E8E8E8;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
}

.post_ukr:hover, .post_nova:hover, .post_meest:hover{
  transition: 0.5s;
  transform: scale(1.05);
}

.post_img{
  margin-top: 10px;
  weight: 100%;
  height: 100%;
}

.img_block{
  width: 100%;
  height: 20%;
}

.text_block{
  width: 100%;
  height: 80%;
  text-align: left;
}

.call_back{
  width: 350px;
  height: 350px;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  margin: 0 auto;
}








.form-group{
 margin-bottom: 15px;
}
label{
 margin-bottom: 5px;
}
input,
input::-webkit-input-placeholder {
 font-size: 11px;
 padding-top: 3px;
}
.form-control {
 /* height: auto!important;
padding: 8px 12px !important; */
}
.input-group {
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button_call {
  width: 100px;
 border: 1px solid #ccc;
 padding: 6px 12px;
 color: #666;
 text-shadow: 0 1px #fff;
 cursor: pointer;
 border-radius: 3px 3px;
 box-shadow: 0 1px #fff inset, 0 1px #ddd;
 background: #f5f5f5;
}
.main-form{
 margin-top: 30px;
 margin: 0 auto;
 max-width: 400px;
 padding: 10px 40px;
text-shadow: none;
}
span.input-group-addon i {
 font-size: 25px;
 margin: 5px;
 text-align: center;
 justify-content: center;
}
.login-button{
 margin-top: 35px;
}

.default_class{
  font-size: 25px;
  background-color: green;
}

.zagol{
  margin-bottom: 15px;
}

.spisok{
  margin-left: -10px;
}

.spisok > li{
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
}

.btn_spisok{
  /* background-color: black; */
  width: 75%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.3s linear;
}

.btn_spisok:hover{
  text-decoration: none;
  background-color: #e92227;
  color: black;
}

.btn_meest:hover{
  text-decoration: none;
  background-color: #0d4c8f;
  color: black;
}

.btn_ukr:hover{
  text-decoration: none;
  background-color: #f8bb3c;
  color: black;
}

.label_x{
  text-align: left;
}

.navig_caregory{
  display: none;
  width: auto;
  height: auto;
  background-color: aqua;
  position: absolute;
  margin-top: 15px;
  margin-left: -100px;
  padding: 5px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 12px black;
  background-clip: padding-box;
}

.navig_caregory:hover{
  display: block;
  cursor: pointer;
}

#navig_caregory_main:hover ~ .navig_caregory{
  transition: 1.3s;
  display: block;
}

.table_cat{
  color: black;
  text-align: left;
  /* font-family: "Roboto", sans-serif; */
}

.table_cat th{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 200px;
  border-bottom: 1px solid #e8e8e8;
}

.table_cat td{
  border-radius: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  font-size: 16px;
}

.table_cat th:hover,td:hover{
  background-color: #e8e8e8;
}

.table_cat a{
  color: black;
  text-decoration: none;
  padding-left: 25px;
}

.form_a{
  text-align: right;
}

.input_box{
  margin-right: 25px;
}

.fa-hashtag{
  margin-right: 2px;
}

.fa-dollar-sign{
  margin-right: 5px;
}

.btn_login_x{
  margin-right: 60px;
}








.content{
  width: 100%;
  vertical-align: middle;
  text-align: center;
  min-height: calc(100vh - 140px);
  display: inline-block;
}

.add_tov{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-right: 20px;

  margin-top: 8% auto;
}

.add_user{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-left: 20px;

  margin-top: 8% auto;
}

.block_adm{
  margin-top: 32px;
  margin-bottom: 32px;
}

.del_tov{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-right: 20px;

  margin-top: 8% auto;
}

.del_user{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-left: 20px;

  margin-top: 8% auto;
}


.or{
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  width: 30px;
  margin: -19px auto 10px;
}

.oper_del_tov{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-right: 20px;

}

.locked{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 black;
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #e8e8e8;
  margin-left: 20px;

  margin-top: 8% auto;

  margin-top: 32px;
  margin-bottom: 32px;

  filter: opacity(0.5);
  pointer-events: none;
}
