@font-face {
  src: url(font/Roboto-Black.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(font/Roboto-Bold.ttf);
  font-family: Roboto-Bold;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html{
  overflow-x: hidden;
}

*{
  font-family: 'Roboto';
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  color: black;
  overflow: hidden;
  margin: 0;
  position: relative;
  transition: 0.3s;
}
header {
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  width: 115px;
  height: 100px;
  padding-left: 16px;
  margin-top: -10px;
}

.navig{
  padding-top: 30px;
  float:right;
}

.navig_text{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #777;
  padding: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.navig_text:hover{
  color:black;
}

#sign_in{
  padding-right: 16px;
}

.fa-angle-down{
  padding-left: 10px;
}

.fa-sign-in-alt{
  padding-left: 10px;

}
.fa-sign-in-alt:hover{
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1.05);
  }
}

.social{
  text-align: center;
  height: 60px;
}

.btn{
  display:inline-block;
  width: 40px;
  height: 40px;
  background-color: #262626;
  margin: 8px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px black;
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i{
  line-height: 42px;
  font-size: 22px;
  transition: 0.3s linear;
}

.btn:hover{
  transform: scale(1.2);
}

.btn:hover .fa-facebook{
  color: #4267B2;
}

.btn:hover .fa-twitter{
  color: #1DA1F2;
}

.btn:hover .fa-google{
  color: #DB4437;
}

.btn:hover .fa-instagram{
  color: #E1306C;
}

.btn:hover .fa-telegram{
  color: #0088cc;
}

.footer_back{
  width: 100%;
  height: 60px;
  bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1F1F1F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  color: black;
}

.back_panel_down{
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: -1;
  background-color: #1f1f1f;
}
.content{
  width: 100%;
  min-height: calc(100vh - 140px);
  display: inline-block;
}

#btn_theme{
  margin-left: auto;
  top: 0;
  right: 0;
  position: absolute;

  width: 45px;
  height: 45px;
  border-radius: 100px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600px;
  transition: 0.5s;
}

.btn_theme_light{
  color: white;
  background-color: #262626;
}

.btn_theme_dark{
  color: #1f1f1f;
  background-color: white;
}

.btn_theme_light:hover{
  color: #262626;
  background-color: white;
}

.btn_theme_dark:hover{
  color: white;
  background-color: #262626;
}

.navig_caregory{
  z-index: 5;
  display: none;
  width: auto;
  height: auto;
  background-color: aqua;
  position: absolute;
  margin-top: 15px;
  margin-left: -100px;
  padding: 5px;

  background-color: #fff;
  border-radius: 10px;

  box-shadow: 0 6px 12px black;
  background-clip: padding-box;
}

.navig_caregory:hover{
  display: block;
  cursor: pointer;
}

#navig_caregory_main:hover ~ .navig_caregory{
  transition: 1.3s;
  display: block;
}

.table_cat{
  color: black;
  text-align: left;
  /* font-family: "Roboto", sans-serif; */
}

.table_cat th{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 200px;
  border-bottom: 1px solid #e8e8e8;
}

.table_cat td{
  border-radius: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  font-size: 16px;
}

.table_cat th:hover,td:hover{
  background-color: #e8e8e8;
}

.table_cat a{
  color: black;
  text-decoration: none;
  padding-left: 25px;
}


.panel{
  padding: 0 20px;
  margin-top: 26px;
  width: 25%;
  height: 1525px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  background-color: #F7F7F7;
  float: left;
  margin-right: 2.5%;
  margin-bottom: 26px;
}

.shop{
  margin-top: 26px;
  width: 72.5%;
  height: 1500px;
  float: left;
  margin-bottom: 26px;
}

.shop_config{
  width: 100%;
  height: 100px;
}

.shop_config_text_h1{
  margin: 0px;
}

.config_title{
  width: 50%;
  height: 100%;
  margin-top: -10px;
  padding: 5px;
  float: left;
}

.config_select{
  display:inline-flex;
  padding: 15px;
  width: 50%;
  height: 100%;
  float:left;
}

.select_text{
  font-size: 20px;
  margin: 0px;
  margin-top: 40px;
  margin-left: 107px;
  margin-right: 10px;
}

.catalog-sorting-select{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  height: 35px;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  background-color: #F7F7F7;

  margin-top: 35px;
}



.zagolovok{
  font-weight: bold;
  padding-left: 5px;
  font-size: 20px;
  height: 35px;
  padding-top: 5px;
}

.stik_price_range{
  height: 65px;
  margin-top: -5px;
}


.stik_type_radio{
  height: 120px;
}

#stik, #stik_book, #stik_pack, #big_stik{
  /* margin-left: 15px; */
  margin-top: 8px;
  margin-bottom: 8px;
}

.category{
  margin-left: 15px;
  margin-bottom: 10px;
}

.sub-category{
  margin-left: 30px;
}

.vid{
  margin-top: 8px;
  margin-bottom: 8px;
}

.stik_a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#slider-range{
  margin-top: 20px;
}

.amount{
  width: 10px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #fee449;
	font-weight: normal;
	color: #ffffff;
}

.myButton {
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  width: 100%;
  height: 40px;
	border-radius:15px;
  background-color: #e8e8e8;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:20px;
	text-decoration:none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.myButton:hover {
  transition: 0.3s;
	background-color: #c7c7c7;
}
.myButton:active {
	position:relative;
	top:1px;
}

#reload_btn{
  margin-left: 245px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  width: 26px;
  height: 26px;
  text-align: center;
  cursor: pointer;
}

#reload_btn:hover{
  transition: 0.3s;
  background-color: black;
  color: white;
}

.shop_content{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: calc(100% - 75px);
  background-color: #F7F7F7;
  padding: 10px;
  margin-bottom: 24px;
}

.shop_content_x{
  width: 100%;
  height: 100%;
}




.stik_block{
  display: inline-block;
  width: 30%;
  height: 23%;
  border: 1px solid black;
  margin: 1.5%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.stik_block_img{
  width: 100%;
  height: 65%;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: contain;
}

.stik_img{
  transform: scale(0.9);
}

.stik_img:hover{
  transition: 0.3s;
  transform: scale(1);
}

.stik_block_title{
  width: 100%;
  height: 35%;
  padding: 5px 20px 10px 20px;
  background-color: #f0f0f0;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.s_name{
  text-align: center;
  width: 100%;
  height: 50%;

  font-size: 26px;
  font-weight: bold;
}

.s_price{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: flex-end;

  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}

.s_val{
  margin-left: 4px;
  font-weight: 800;
}

.s_roz{
  margin-left: 83px;
}

.fa-expand-arrows-alt{
  margin-right: 4px;
}

.s_id{
  margin-top: 0px;
  font-size: 12px;
  color: gray;
}
